{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
</head><!--/head-->

<body>

	{% include 'menu.html' %}
	{% block content %}
    <section id="about-us">
        <div class="container">
			<div class="center wow fadeInDown">
				<h2>{{setting.company}}</h2>
				<p class="lead">{{setting.description}} </p>
			</div>
			

	

			<!-- our-team -->
			<div class="team">
				<div class="center wow fadeInDown">
					<h2>Takımımız</h2>
					<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
				</div>


			</div><!--section-->
		</div><!--/.container-->
    </section><!--/about-us-->
	


{% include 'footer.html' %}
    

</body>
</html>
{% endblock %}