{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
</head><!--/head-->

<body>

    {% include 'menu.html' %}
    {% block content %}
    <section>
    <div class="container">
      <div>
        <h2>Profil</h2>
        {% if user_profile.image %}
        <img src="{{user_profile.image.url}}" width="150px" height="150px" style="border-radius:50%" alt=""> <br> <br>
        {% endif %}
        <p>Hesap ismi: {{user_profile.user}}</p>
        <p>Ad: {{user_profile.user.first_name}}</p>
        <p>Soyad: {{user_profile.user.last_name}}</p>
        <p>E-mail adresi: {{user_profile.user.email}}</p>
        <p>Telefon numarası: {{user_profile.phone}}</p>
        <p>Adres: {{user_profile.address}}</p>
        <a class="btn btn-primary" href="{% url 'logout' %}">Çıkış yap</a>
      </div><!--/.row-->
    </section>
    </div>
    {% include 'footer.html' %}

    </div>

    {% endblock %}
</body>
<style>
    p{
    font-size: 16px; 
    margin-top: 1rem;   
    }
</style>