{%load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
</head><!--/head-->

<body>

    {% include 'menu.html' %}
    {% block content %}

    <section id="blog" class="container">
        <div class="center">
            <h2 class="lead">{{content.title}}</h2>
            {% if content.image_url %} 
            <img src="{{content.image.url}}" alt="" width="500" height="500"> 
            {% endif %}
            <p class="lead">{{content.description}}</p>
        </div>

        <div class="blog">
            <div class="row">
                <div class="col-md-8">
                    <div class="blog-item">
                        <img class="img-responsive img-blog" src="images/blog/blog1.jpg" width="100%" alt="" />
                            <div class="row">  
                                <div class="col-xs-12 col-sm-10 blog-content">
            
                                    <div class="post-tags">
                                        <strong>Anahtar Kelimeler: {{content.keywords}} </strong> <br>
                                        <strong>İçerik Tipi: {{content.type}}</strong>
                                    </div>

                                </div>
                            </div>
                        </div><!--/.blog-item-->
                      
                        {% for comment in comments %}
                        <div class="media comment_section">
                           
                            <div class="media_comment">
                                <h4>Tarih: {{comment.created_at}}</h4>
                                <p> {{comment.comment}}</p>
                            </div>
                        </div> 
                       
                       {% endfor %}
                      
                        </div> 


                        
      
                            <form id="main-contact-form" class="contact-form" name="contact-form" enctype="multipart/form-data" method="POST" action="">
                                {% csrf_token %}
                                <div class="row">
                                    
                                    <div class="col-sm-7">                        
                                        <div class="mg-3">
                                            <label>Yorum</label>
                                            <textarea    name="comment" required class="form-control" rows="8" ></textarea>
                                        </div>                        
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-lg">Gönder</button>
                                        </div>
                                    </div>
                                </div>
                            </form>     
                        </div><!--/#contact-page-->
                    </div><!--/.col-md-8-->

    				
    			
    				
                </aside>     

            </div><!--/.row-->

         </div><!--/.blog-->

    </section><!--/#blog-->



{% include 'footer.html' %}


    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
</body>
</html>
{% endblock %}
<style>
    .media_comment{
        background-color: #E7E9EB;
        border-radius: 10px;
    }
    .media_comment p,h4{
        padding: 8px;
    }
    .lead{
        margin-top: 20px;
    }
</style>