{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
</head><!--/head-->

<body>
		{% include 'menu.html' %}
		{% block content %}
    <section id="about-us">
        <div class="container">
			{% for faq in faqs %}
			<button class="accordion">{{faq.question}}</button>
			<div class="panel">
				<p>{{faq.answer}}</p>
			</div>
			{% endfor %}
			</div>			
    </section>
</body>
</html>
{% endblock %}
{% include 'footer.html' %}

<style>
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  font-size: large;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;

}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  font-size: large;
  padding: 16px;
  background-color: white;
  display: none;
  overflow: hidden;
}
</style>
<script>
	var acc = document.getElementsByClassName("accordion");
		var i;

		for (i = 0; i < acc.length; i++) {
			acc[i].addEventListener("click", function () {
				this.classList.toggle("active");
				var panel = this.nextElementSibling;
				if (panel.style.display === "block") {
					panel.style.display = "none";
				} else {
					panel.style.display = "block";
				}
			});
		}
</script>