<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; 2022
            </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                    <li><a href="{% url 'about' %}">Hakkımızda</a></li>
                    <li><a href="{% url 'faq' %}">SSS</a></li>
                    <li><a href="{% url 'contact' %}">İletişim</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer><!--/#footer-->