{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
</head><!--/head-->

<body>

    {% include 'menu.html' %}
    {% block content %}
    <section>
    <div class="container">
        <div class="center">
            <h2>Galeri</h2>
            <div class="row">
                {% for image in images %}
                <a href="{{image.image.url}}" target="_blank">
                    <img src="{{image.image.url}}">
                </a>
                {% endfor %}
            </div>
        </div>
    </div>

    </section>


    {% endblock %}
    {% include 'footer.html' %}

</body>
<style>
img{
        margin: 8px;
        width: 300px;
        height: 300px;
        border-radius: 50px;
        transition: ease all 0.3s;

}
img:hover{
    opacity: 0.9;
}
</style>