{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
</head><!--/head-->

<body class="homepage">
    {% include 'menu.html' %}
    {% block content %}
    <section id="sub-page">
        <div class="container">
            <div class="center">
                <br>
                <h2>Aidat Ödeme</h2>
            </div>
            <div class="row contact-wrap">
                <div class="status alert alert-success" style="display: none"></div>
                <form id="main-contact-form" class="contact-form" name="contact-form" method="post" action=" ">
                    {% csrf_token %}
                    <div class="col-sm-5 col-sm-offset-1">
                   
                        
                        <div class="mg-3">
                            <label>Ödenecek miktar</label>
                            <input type="number" min="1" name="payment" id="message" required="required" class="form-control"
                                ></input>
                        </div>
                        <div class="form-group">
                            <button type="submit" name="submit" class="btn btn-primary btn-lg" required="required">Aidat öde
                                </button>
                        </div>
                    </div>
                </form>
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#contact-page-->
{% include 'footer.html' %}

</body>

</html>
{% endblock %}