{% load static %}

<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'assets/images/favicon.png' %}" rel="icon" type="image/png">
    <title>sign up</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
    
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">

</head>

<body class="bg-gray-100">


    <div id="wrapper" class="flex flex-col justify-between h-screen">

        <!-- header-->
        <div class="bg-white py-4 shadow dark:bg-gray-800">
            <div class="max-w-6xl mx-auto">


                <div class="flex items-center lg:justify-between justify-around">

                    <a href="trending.html">
                        <b><h1 style="font-size: 1.5rem;">Socol</h1></b>
                    </a>

                    <div class="capitalize flex font-semibold hidden lg:block my-2 space-x-3 text-center text-sm">
                        
                        <a href="signin.html" class="bg-pink-500 pink-500 px-6 py-3 rounded-md shadow text-white">Login</a>
                    </div>

                </div>
            </div>
        </div>

        <!-- Content-->

        <div>
        <div class="container">
        <div class="center" style="height: 100%; display: flex; flex-direction: column;  text-align: left;
            justify-content: center; align-items: center; align-content: center; margin-top: 5%;">
                <h2>Kayıt Olma Ekranı</h2>
                <div>
                    {% for message in messages %}
                    <h5>{{message}}</h5>
                    {% endfor %}
                </div>

                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="mg-3">
                    <label>Kullanıcı Adı</label>
                    <input type="text" name="username"  class="form-control" required="required">
                    </div>
                 
                    <div class="mg-3"> 
                        <label>E-posta</label>
                        <input type="email" name="email"  class="form-control"  required="required"></div>
                    
                    <div class="mg-3"> 
                        <label>Şifre</label>
                        <input type="password"  name="password" class="form-control"  required="required">
                       
                    </div>
                    <div class="mg-3">
                        <label>Şifreyi Doğrula</label>
                        <input type="password"  name="password2" class="form-control"  required="required">

                    </div>
                    <div class="mg-3">
                    <button type="submit" class="btn btn-primary btn-lg" style="width: 100%;">Kayıt Ol</button>

                    </div>
                    <div class="text-center mt-5 space-x-2">
                        <p class="text-base"> Hesabınız var mı? <a href="/signin"> Giriş Yapın </a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
        <!-- Footer -->

 



</body>
<style>
    .mg-3{
        margin: 8px;
    }
</style>

</html>