

{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
</head><!--/head-->

<body>

    {% include 'menu.html' %}
    {% block content %}
    <br>    
<div class="container">
    <div class="center">
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="mg-3">
            <label>Resim</label>
            <input type="file" name="image" class="form-control">
        </div>
        <br>
        <div class="mg-3">
            <label>Başlık</label>
            <input type="text" name="title" class="form-control" required="required">
        </div> <br>
        <div class="mg-3">
            <label>Açıklama</label>
            <textarea name="description" class="form-control" required="required" rows="8"> </textarea>
        </div> <br>
        <div class="mg-3">
            <label>Anahtar Kelimeler</label>
            <input type="text" name="keywords" class="form-control" required="required"> </input>
        </div> <br>
        <div class="mg-3">
            <label>İçerik Tipi</label>
            <input type="text" name="type" class="form-control" required="required"> </input>
        </div> <br>
        <div class="mg-3">
            <button type="submit" class="btn btn-primary btn-lg">Gönder</button>
        </div>
        </form>
    </div><!--/.row-->



</form>

    </div>
</div>

{% endblock %}
</body>
<style>
    .mg-3{
        text-align: left;
    }
    button{
        width: 100%;
    }
</style>